---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
        <h1 class="post-title">
          <a href="{{ post.url | relative_url }}">
            {{ post.title }}</a>
        </h1><div class="post-date" style="font-size:25px"><i>{{ post.date | date: site.date_format }}</i></div>
        <img src="{{ site.baseurl }}{{ site.images }}/{{ post.picture }}" width="100%" height="55%" />
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Turn Back</a>
  {% else %}
    <span class="pagination-item older">Turn Back</span>
  {% endif %}
  {% if paginator.next_page %}
      <a class="pagination-item newer" href="{{ site.baseurl }}{{ paginator.next_page_path }}">Next Page</a>
  {% else %}
    <span class="pagination-item newer">Next Page</span>
  {% endif %}
</div>
