<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} | {{ site.tagline }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}public/css/social-links.css"> -->
  <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome-free-5.12.0-web/css/all.css"/>
  <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome-free-5.12.0-web/css/v4-shims.css"/>
  <link rel="stylesheet" href="{{ site.baseurl }}/public/social.scss"/>

  <!-- Icons -->
  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ site.baseurl }}/public/favicon_io/apple-touch-icon.png"/>
  <link rel="android-chrome-icon" sizes="192x192" href="{{ site.baseurl }}/public/favicon_io/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/public/favicon_io/favicon-32x32.png">
  <!-- RSS -->
  <!-- <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml"> -->


  {% if site.categories != "" %}
    {% include collectcategories.html %}
  {% endif %}
</head>
