---
layout: page
title: "Controversies*"
picture: questions.jpeg
---

<hr/>
{% capture tempcategories %}
  {% for category in site.categories %}
    {{ category[1].size | plus: 1000 }}#{{ category[0] }}#{{ category[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtempcategories = tempcategories | split:' ' | sort | reverse %}
{% for tempcategory in sortedtempcategories %}
  {% assign categoryitems = tempcategory | split: '#' %}
  {% capture categoryname %}{{ categoryitems[1] }}{% endcapture %}
  <span><i style="font-size:25px"><a href="{{ site.baseurl }}category/{{ categoryname }}"><nobr>{{ categoryname }}*</nobr></a></i> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</span>
{% endfor %}
<hr/>
