<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

<!--math support-->
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
   extensions: ["tex2jax.js"],
   tex2jax: {
     inlineMath: [ ['$','$'], ["\\(","\\)"] ],
     displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
     processEscapes: true
   },
   CommonHTML: { linebreaks: { automatic: true } },
  "HTML-CSS": { linebreaks: { automatic: true } },
   SVG: { linebreaks: { automatic: true } },
   TeX: { equationNumbers: { autoNumber: "AMS" },
           Macros: {card: "{\\text{card}}",
                    ind: "\\perp\\!\\!\\!\\perp",
                    nind: "\\perp\\! \\! \\! \\perp \\! \\! \\! \\! \\! \\!/ \\ \\",
                    cov: "\\text{Cov}",
                    Bin: "\\text{Bin}"}}
 });
</script>
<script src="//mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>


  </body>
</html>
