---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}  + {% for category in page.categories %}
    {% capture category_name %}{{ category }}{% endcapture %}

    <a href="{{ site.baseurl }}{{ category_name }}" style="color:#9a9a9a"><i>{{ category_name }}*</i></a>
  {% endfor %}</h1>




  <span class="post-date">{{ page.date | date_to_string }}</span>

  {{ content }}

<div>
  <hr>
  <h2>Want to Save this post?</h2>


  <p>
     <b>Desktop:</b> right click or 'two finger click' and select 'save as' in the menu that follows. The article will be saved as an '.html' file on your computer. You can also use <a href="https://getpocket.com">pocket</a>, <a href="https://apps.apple.com/in/app/reading-queue/id1387881185">readingqueue</a>, <a href="https://www.instapaper.com">instapaper</a>, or the Reading List cloud storage in safari for offline reading.</p>
  <p>  <b>Mobile:</b> hit the share button and try a mobile article saving application like <a href="https://getpocket.com">pocket</a>, <a href="https://apps.apple.com/in/app/reading-queue/id1387881185">readingqueue</a>, <a href="https://www.instapaper.com">instapaper</a>, or (if you have an ios device) use the Reading List cloud storage for offline reading.</p></div>

</div>

<div class="related">
  <h2>There's a lot more to question!</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
