---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  <span class="post-date">{{ page.date | date_to_string }} {% for category in page.categories %}
      {% capture category_name %}{{ category }}{% endcapture %}
    {% endfor %}
    <a href="{{ site.baseurl }}category/{{ category_name }}" style="color:#9184ED;font-size:28px"><i>| {{ category_name }}*</i></a></span>

  {{ content }}
<div class="related">
  <h2>Keep Questioning!</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
